<html>
<head>
    <title>User Profile</title>
</head>

<body>
        <div class="gallery"><img src="images/avatar.png" alt="default avatar"></div>
        <h1>user</h1>

        <section class="tab" ng-controller="profileCtrl as tab">
            <ul class="nav nav-pills">
                <li ng-class="{ active: tab.isSet(1) }">
                    <a href ng-click="tab.setTab(1)">Informacje</a></li>
                <li ng-class="{ active: tab.isSet(2) }">
                    <a href ng-click="tab.setTab(2)">Plany</a></li>
                <li ng-class="{ active: tab.isSet(3) }">
                    <a href ng-click="tab.setTab(3)">Inne</a></li>
            </ul>
            <div ng-show="tab.isSet(1)">
                <blockquote>//info</blockquote>
            </div>
            <div ng-show="tab.isSet(2)">
                <blockquote>//plany</blockquote>
            </div>
            <div ng-show="tab.isSet(3)">
                <blockquote>//inne</blockquote>
            </div>
        </section>


<script src="js/controllers/profile.controller.js"></script>

</body>
</html>